m5/matematica/__pycache__/matematica.cpython-37.pyc
m5/matematica/__pycache__/__init__.cpython-37.pyc
m5/matematica/__pycache__/matematica_ruim.cpython-37.pyc
m6/__pycache__/pilha_poo.cpython-37.pyc
m5/__pycache__/matematica.cpython-37.pyc
